


svg {
	margin: 20px;
}

.col{
    margin: 10px;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.753);
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .axis--x text {
    font: 10px sans-serif;
  }
  
  .axis--y text {
    font: oblique 15px Georgia, serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  